* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #39a6b2;
    font-family: Arial;
}

header {
    padding: 20px 35px;
    background-color: #39a6b2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: #fce138;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    border-bottom: #fce138;
}

header a {
    text-decoration: none;
    color: #fce138;
}

header nav {
    margin: 7px 0;
    
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    
}

footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

footer h2 {
    color: 024e76;
    font-size: 30px;
    margin: 0;
}

footer a {
    color: #024e76;
}

section {
    padding: 60px;
}

.intro {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(../images/Sports.jpg);
}

.intro h2 {
    font-size: 55px;
    color: #024e76;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    border-color: #fce138;
    display: inline-block;
}

.intro p{
    line-height: 1.7;
    color: #39a6b2;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
}

#about-me {
    display: flex;
}

.Finished-Work{
    display: flex;
}

.left-container {
    flex: 25%;
    text-align: right;
    margin-right: 15px;
    border-right: 3px solid blue;
    padding-right: 10px;
    flex-wrap: wrap;
    flex-direction: row;
}

.right-container {
    display: flex;
    flex: 75%;
    flex-wrap: wrap;
    flex-direction: row;
}

img {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

.container img {
    flex: 50%;
    height: 300px;
    width: 50%;
}

.container img:first-child {
    flex: 100%;
    height: 300px;
}

.Finished-Work h2 {
    font-size: 55px;
    color: #024e76;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    border-color: #39a6b2;
    text-align: center;
    flex-direction: column;
}

.Projects {
    font-size: 55px;
    color: #024e76;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    border-color: #39a6b2;
    text-align: center;
}

.On-My-Own {
    font-size: 55px;
    color: #024e76;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    border-color: #39a6b2;
    text-align: center;
}

.Contact-Info{
    text-align: center;
}

.flex-row {
    display: flex;
}

.column{
    float: inline-end;
    width: 25%;
}

@media only screen and (max-width: 700px){
    .Finished-Work {
        flex-direction: column;
    }
    #about-me {
        display: flex;
        flex-direction: column
    }
};

@media only screen and (max-width: 450px){
    .Finished-Work{
        flex-direction: column;
    }
    #about-me {
        display: flex;
        flex-direction: column;
    }
}